@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-[75px];
  }
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] px-5 mx-auto;
  }

  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
  }

  .heading {
    @apply text-[44px] leading-[54px] font-[700] text-headingColor;
  }

  .text_para {
    @apply text-[18px] leading-[30px] font-[400] text-textolor mt-[18px];
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }

  section {
    @apply py-[35px];
  }
}
@media only screen and (max-width: 760px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }

  .text_para {
    @apply text-[16px] leading-7 mt-3;
  }
  .underline {
    text-decoration: underline;
  }
}

.dropdownmenu {
  position: absolute;
  top: 4.5 rem;
  right: 1.5rem;
  width: 120 px;
  padding: 15px;
  border-radius: 15px;
  background-color: wheat;
  border: 1px solid gray;
}
.dropdownmenu::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
